---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="article-header">
    <p class="article-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%Y.%m.%d" }}
      </time>
      {%- if page.author -%}
      <span>—</span>
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">{{ page.author }}</span>
      </span>
      {%- endif -%}
    </p>
    <h1 class="article-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    {%- if page.tags.size > 0 -%}
    <div class="post-tags">
      {%- for tag in page.tags -%}
        <span class="tag">{{ tag }}</span>
      {%- endfor -%}
    </div>
    {%- endif -%}
  </header>

  <div class="article-content e-content" itemprop="articleBody">
    {{ content }}
    {% include slides.html %}
  </div>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
