name: "Pull Request"

on:
  pull_request:
    branches:
      - main

jobs:

  renovate:
    name: "Validate Renovate Configuration"
    runs-on: ubuntu-latest
    timeout-minutes: 2
    permissions:
      # actions/checkout
      contents: read

    steps:
      - name: "Cache NPX"
        uses: actions/cache@v5
        with:
          key: npx-${{ github.workflow }}-${{ github.job }}
          path: |
            ~/.npm/_npx

      - name: "Checkout ${{ github.ref }} ref in ${{ github.repository }} repository."
        uses: actions/checkout@v6

      - name: "Run renovate-config-validator on repository configuration."
        shell: bash
        run: >
          npx
          --yes
          --package "renovate"
          --
          renovate-config-validator
          --strict
          .github/renovate.json

  ghlint:
    name: "Validate GitHub Workflows"

    permissions:
      # actions/checkout
      contents: read
      # github/codeql-action/upload-sarif
      security-events: write
      # github/codeql-action/upload-sarif in private repositories / internal organizations.
      actions: read

    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:

      - name: "Checkout ${{ github.ref }} branch in ${{ github.repository }} repository."
        uses: actions/checkout@v6

      - name: "Run GH-Lint validation."
        id: ghlint
        uses: TWiStErRob/net.twisterrob.ghlint@v0.5.0

      - name: "Upload 'GH-Lint Results' artifact."
        if: ${{ success() || failure() }}
        uses: actions/upload-artifact@v6
        with:
          name: 'GH-Lint Results'
          if-no-files-found: error
          path: ${{ steps.ghlint.outputs.sarif-report }}

      - name: "Publish 'GH-Lint' GitHub Code Scanning analysis."
        if: ${{ success() || failure() }}
        uses: github/codeql-action/upload-sarif@v4
        with:
          checkout_path: ${{ github.workspace }}
          sarif_file: ${{ steps.ghlint.outputs.sarif-report }}

  build:
    name: "Verify Build"
    runs-on: ubuntu-latest
    timeout-minutes: 3
    permissions:
      contents: read

    steps:
    - name: "Checkout ${{ github.ref }} from ${{ github.repository }}"
      uses: actions/checkout@v6

    - name: "Setup Ruby"
      uses: ruby/setup-ruby@v1.278.0
      with:
        bundler-cache: true

    - name: "Build Site"
      shell: bash
      run: ./scripts/build.sh
      env:
        JEKYLL_ENV: production
        BASE_URL: ${{ steps.pages.outputs.base_path }}

    - name: "Upload Artifact"
      uses: actions/upload-pages-artifact@v4
      with:
        path: _site
        include-hidden-files: true
